<div class="container-fluid">

    <mat-card class="example-card" style="width: 16rem;">
        <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hot Pizza Type 1</mat-card-title>
      <mat-card-subtitle>Medium Size</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/Pizza1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Small</mat-radio-button>
            <mat-radio-button value="2">Medium</mat-radio-button>
            <mat-radio-button value="3">Large</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group aria-label="Select an option">
            <section class="example-section">
                <mat-checkbox class="example-margin">Ingredients  1</mat-checkbox>
                <mat-checkbox class="example-margin">Ingredients  2</mat-checkbox>
                <mat-checkbox class="example-margin">Ingredients  3</mat-checkbox>
                </section>
          </mat-radio-group>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card" style="width: 16rem;">
    <mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Hot Pizza Type 2</mat-card-title>
  <mat-card-subtitle>Medium Size</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../../../../assets/images/Pizza1.png" alt="Photo of a Shiba Inu">
<mat-card-content>
    
</mat-card-content>
<mat-card-actions>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Small</mat-radio-button>
        <mat-radio-button value="2">Medium</mat-radio-button>
        <mat-radio-button value="3">Large</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group aria-label="Select an option">
        <section class="example-section">
            <mat-checkbox class="example-margin">Ingredients  1</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  2</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  3</mat-checkbox>
            </section>
      </mat-radio-group>
</mat-card-actions>
</mat-card>
<mat-card class="example-card" style="width: 16rem;">
    <mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Hot Pizza Type 3</mat-card-title>
  <mat-card-subtitle>Medium Size</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../../../../assets/images/Pizza1.png" alt="Photo of a Shiba Inu">
<mat-card-content>
    
</mat-card-content>
<mat-card-actions>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Small</mat-radio-button>
        <mat-radio-button value="2">Medium</mat-radio-button>
        <mat-radio-button value="3">Large</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group aria-label="Select an option">
        <section class="example-section">
            <mat-checkbox class="example-margin">Ingredients  1</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  2</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  3</mat-checkbox>
            </section>
      </mat-radio-group>
</mat-card-actions>
</mat-card>
<mat-card class="example-card" style="width: 16rem;">
    <mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Hot Pizza Type 4</mat-card-title>
  <mat-card-subtitle>Medium Size</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../../../../assets/images/Pizza1.png" alt="Photo of a Shiba Inu">
<mat-card-content>
    
</mat-card-content>
<mat-card-actions>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Small</mat-radio-button>
        <mat-radio-button value="2">Medium</mat-radio-button>
        <mat-radio-button value="3">Large</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group aria-label="Select an option">
        <section class="example-section">
            <mat-checkbox class="example-margin">Ingredients  1</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  2</mat-checkbox>
            <mat-checkbox class="example-margin">Ingredients  3</mat-checkbox>
            </section>
      </mat-radio-group>
</mat-card-actions>
</mat-card>
</div>