.footer{
  bottom: 0;
  /* position: absolute; */
   display: block;
     width: 100%;
     position: fixed;
} 
/* .footer {
    text-align: center;
    position: fixed;
      
    height: 50px; */
   
    /* background-color: grey; */

/* }   */